@import "tailwindcss";
@import "./index.css";


.aurora {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

/* CORE GLOW (FOKUS DI TENGAH IMAGE) */
.aurora-core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background: radial-gradient(circle at center,
            var(--color-brunswick-green-900) 0%,
            rgb(var(--color-brunswick-green-800-rgb) / 0.35) 35%,
            transparent 70%);
    filter: blur(40px);
    opacity: 0.9;
}

/* SIDE BLOBS (lebih subtle) */
.blob {
    position: absolute;
    border-radius: 50%;
    animation: move 18s infinite alternate ease-in-out;
    opacity: 0.4;
}

.b1 {
    width: 600px;
    height: 600px;
    background: var(--color-brunswick-green-700);
    top: -15%;
    left: -10%;
}

.b2 {
    width: 500px;
    height: 500px;
    background: var(--color-brunswick-green-900);
    bottom: -15%;
    right: -10%;
}

@keyframes move {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(80px, 60px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(2deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.bubble-member {
    animation: float 6s ease-in-out infinite;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bubble-member:hover {
    z-index: 50;
    transform: scale(1.1);
}

.chat-overlay {
    opacity: 0;
    transform: translateY(10px) scale(0.9);
    transition: all 0.3s ease;
    pointer-events: none;
}

.bubble-member:hover .chat-overlay {
    opacity: 1;
    transform: translateY(0) scale(1);
}


/* team section */

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marqueeReverse {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-marquee {
    width: max-content;
    animation: marquee 20s linear infinite;
}

.animate-marquee-reverse {
    width: max-content;
    animation: marqueeReverse 20s linear infinite;
}